*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    /* width: 1158px; */
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    /* padding: 0 15px; */
}

/* .head-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
} */


.head-nav-list,
.address-list{
    display: none;
    /* display: flex; */
    /* gap: 40px; */
}

.section{
    /* padding: 120px 0; */
    padding: 96px 0;
    margin: 0 auto ;
}

.main-head{
    background-color: #fff;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* margin-right: 76px; */
    padding: 17px 0;
}

.logo .accent{
    color: #2e2f42;
} 

.head-nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.head-nav .head-nav-link{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-nav .head-nav-link:hover,
.head-nav .head-nav-link:focus,
.head-nav .head-nav-link:active{
    color: #404bbf;
}

.head-nav-link.current{
    position: relative;
    color: #404bbf;
}

.head-nav-link.current::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.main-page-address{
    font-style: normal;
}

.main-page-address .address-link{
    color: currentColor;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-address .address-link:hover,
.main-page-address .address-link:focus{
    color: #404bbf;
}

.open-menu-btn{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}

.mob-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    padding-top: 72px;
    padding-bottom: 40px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow: auto;
    z-index: 2;
}

.close-menu-btn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-menu {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-item {
    margin-bottom: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.mob-nav-link:hover,
.mob-nav-link:focus,
.mob-nav-link:active{
    color: #404bbf;
}

.mob-nav-link.mob-current{
    color: #404BBF;
}

.mob-page-address {
    font-style: normal;
}

.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link {
    color: currentColor;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link.add-current{
    color: #4D5AE5;
}

.mob-icon-list {
    display: flex;
    margin-top: 48px;
    gap: 40px;
}

.mob-icon-item {
    width: 40px;
    height: 40px;
}

.mob-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link:hover,
.mob-icon-link:focus{
    background-color: #404BBF;
}

.mob-icon {
    fill: #f4f4fd;
}

.main-page-body{
    background-color: #2E2F42;
    /* padding: 188px 0; */
    padding: 72px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/main-bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 1440px; */
    max-width: 320px;
    background-position: center;
}

@media screen and (min-device-pixel-ration: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx){
    .main-page-body{
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/main-bg-mob-2x.jpg);
    }
}

.main-page-body .main-title{
    color: #fff;
    /* font-size: 56px; */
    font-size: 36px;
    font-weight: 700;
    /* line-height: 1.07;  */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    /* max-width: 496px; */
    max-width: 215px;
    margin: 0 auto;
}


.main-page-body .main-btn{
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    /* margin: 48px auto 0; */
    margin: 72px auto 0;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-body .main-btn:hover,
.main-page-body .main-btn:focus{
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px; 
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advant-list{
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advant-item{
    /* width: calc((100% - 72px) / 4); */
    width: 100%;
}

.icon-container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px; */
    display: none;
}

.advant-list .advant-subtitle{
    color: #2E2F42;
    /* font-size: 20px; */
    font-size: 36px;
    /* font-weight: 500; */
    font-weight: 700;
    /* line-height: 1.2;  */
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.advant-list .advant-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team-inform{
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;

}

.team-list li{
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
}

.team-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    margin: 0 auto;
}

.team-img{
    margin: 0 auto;
}

.text-container{
    padding: 32px 0;
}

.team-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list .name-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.team-list .name-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.icon{
    fill: #f4f4fd;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus{
    background-color: #404BBF;
}

.port-list{
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;

}

.port-title{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.port-list .port-item{
    background-color: #fff;
    border-bottom: 1px solid #E7E9FC;
}

.port-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item:hover .text-overlay{
    transform: translateY(0%);
}

.box{
    position: relative;
    overflow: hidden;
}

.text-overlay{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 296px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    background-color: #4d5ae5;
}

.inform-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.port-list .port-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.port-list .port-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer{
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 96px 0;
    /* padding: 100px 0; */
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    /* align-items: baseline; */
}

/* .first-part{
    margin-right: 120px;
} */

.second-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .foot-text{
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    max-width: 288px;
    margin-top: 16px;
    /* max-width: 264px; */
}

.foot-logo{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    /* display: inline-block; */
    /* margin-bottom: 16px; */
}

.foot-accent{
    color: #f4f4fd;
}

.foot-icon-title{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.foot-icon-list {
    display: flex;
    gap: 16px;
}

.foot-icon-item {
    width: 40px;
    height: 40px;
}

.foot-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-icon-link:hover,
.foot-icon-link:focus{
    background-color: #31D0AA;
}

.foot-icon{
    fill: #f4f4fd;
}

/* .foot-form-wrap{
    margin-left: 80px;
} */

.foot-email-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.foot-form{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.foot-input{
    width: 264px;
    height: 40px; 
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.foot-input::placeholder{
    color: #fff;
}

.foot-btn{
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-btn:hover,
.foot-btn:focus{
    background-color: #404BBF;
}

.sub-icon{
    fill: #fff;
    margin-left: 16px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    /* width: 408px; */
    min-width: 288px;
    /* min-height: 584px; */
    min-height: 623px;
    /* padding: 72px 24px 24px; */
    padding: 72px 16px 16px;
    background: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus{
    background-color: #404BBF;
    fill: #fff;
    border: none;
}

.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-field{
    margin-bottom: 8px;
}

.modal-label{
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-input-wrap{
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    /* padding-left: 38px; */
    padding-left: 34px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon{
    fill: #4D5AE5;
}

.modal-icon{
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-text-field{
    margin-bottom: 16px 
}

.modal-text{
    width: 100%;
    min-height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.40);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus{
    border-color: #4D5AE5;
}

.modal-check-field{
    margin-bottom: 24px;
}

.modal-bnt{
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bnt:hover,
.modal-bnt:focus{
    background-color: #404BBF;
}

.check-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.check-text span{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .check-text span{
    fill: #F4F4FD;
    border: none;
    background-color: #404BBF;
}

.privacy-link{
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}



/* ===========768=========== */

@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }

    .open-menu-btn{
        display: none;
    }

    .main-page-body{
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/main-bg-tab.jpg);
    }

    @media screen and (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .main-page-body{
            background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/main-bg-tab-2x.jpg);
    }
}

    .main-page-body .main-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .main-page-body .main-btn{
        margin: 36px auto 0;
    }

    .head-container{
        display: flex;
        align-items: center;
        justify-content: space-between; 
    }

    .head-nav-list{
        display: flex;
        gap: 40px;
    }

    .address-list{
        display: block;
    }

    .logo{
        margin-right: 120px;
    }

    .advant-list{
        row-gap: 72px;
        column-gap: 24px;
    }

    .advant-list .advant-subtitle{
        text-align: start;
    }

    .advant-item{
        width: calc((100% - 24px) / 2);
        
    }

    .team-list{
        row-gap: 64px;
        column-gap: 24px;
        align-items: center;
        justify-content: center;
        
    }

    .team-item{
        margin: 0;
        
    }

    .port-list{
        row-gap: 72px;
        column-gap: 24px;
    }

    .port-item{
        width: calc((100% - 24px) / 2);
    }

    .footer-container{
        width: 584px;
        row-gap: 72px;
        column-gap: 24px;
    }

    .foot-logo{
    display: inline-block;
    }

    .second-part{
        /* flex-direction: column; */
        display: inline-block;
    }

    .foot-icon-title{
        text-align: start;
    }

    .foot-email-title{
        text-align: start;
    }

    .modal{
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
    }
} 





/* ===========1158=========== */
@media screen and (min-width:1158px) {
    .container{
        max-width: 1158px;
        padding: 0 15px;
    }

    .section{
        padding: 120px 0;
        margin: 0 auto ;
    }

    .main-page-body{
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/main-bg.jpg);
    }

    @media screen and (min-device-pixel-ration: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        .main-page-body{
            background-image: linear-gradient(
            rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/main-bg-2x.jpg);
    }
    }

    .main-page-body .main-btn{
        margin: 48px auto 0;
    }

    .head-nav-list,
    .address-list{
    display: flex;
    gap: 40px;
}

.logo{
    margin-right: 76px;
}

.head-nav{
    display: flex;
}

.advant-item{
    width: calc((100% - 72px) / 4);
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.advant-list .advant-subtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}

.advant-list .advant-text{
    font-weight: 400;
}

.team-list{
    gap: 24px; 
}

.port-item{
    width: calc((100% - 48px) / 3);
}

.port-list{
    row-gap: 48px;
    column-gap: 24px;
    
}

.footer{
    padding: 100px 0;
}

.footer-container{ 
    align-items: baseline; 
}

.first-part{
    margin-right: 120px;
}

.footer-container{
    flex-wrap: nowrap;
    width: 1125px;
}

.foot-form{
    flex-wrap: nowrap;
}

.foot-icon-list{
    margin-right: 80px;
}

.modal-input{
    padding-left: 38px;
}
}